@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Darker+Grotesque:wght@300&family=Josefin+Sans:wght@300&family=Libre+Barcode+39+Text&family=Monoton&family=Montserrat&family=Road+Rage&family=Roboto:ital,wght@0,300;0,400;0,700;1,500&family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Luckiest+Guy&family=Original+Surfer&family=Pushster&family=Racing+Sans+One&family=Rubik+Mono+One&family=Single+Day&display=swap');


/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

body {
	/* background-image: linear-gradient(red, yellow, green); */
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.heading h1 {
    font-family: 'Pushster', cursive;
	font-size: 48px;
	font-weight: 900;
	letter-spacing: 1px;
	padding-top: 2rem;
	text-align: center;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}
@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.heading h4 {
	color: #1A1110;
	text-align: center;   
}
.searchBox {
	text-align: center;
	margin: 3rem;
}

.searchBar {
	width: 400px;
	height: 40px;
    margin-left: 28%;
	border-radius: 20px;
	padding: 0.3rem 1rem;
    border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 300px;
	height: 400px;
	margin: 1.5rem;
	background-color: #91d370;
	background-image: linear-gradient(
		319deg,
		#91d370 0%,
		#bca0ff 37%,
		#f2cd54 100%
	);
	border-radius: 8px;
	box-shadow: 0 7px 12px rgba (204, 255, 51, 0.5);
	overflow: auto;
	box-sizing: border-box;
	position: relative;
	border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
	
}

.card img {
	width: 100%;
}
.card .info {
	color: #253529;
	text-align: center;
}

.card .info h2 {
	margin: 0;
	font-weight: 900;
	margin-top: 15px;
}

.card .info p {
	margin: 0;
	font-size: 17px;
	letter-spacing: 2px;
	margin-top: 10px;
}

.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100;
	width: 100%;
	background: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);
    transition: 0.2s all;
}

.card:hover:before {
    height:100%;
} 

.card:hover {
    background-color: #c2eaba;
background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);

}

.card .recipe  {
    position: absolute;
    top: 0;
    left: 0;
    text-align: justify;
    padding: 0.5 1rem;
    display: none;
    transition: 0.2s all;
}

.card:hover .recipe {
     display: block;
}

.recipe h2 {
    margin-bottom: 10px;
}

.recipe img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe p {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;   
}

.recipe a {
    display: block;
    text-align: center;
}

.notFound {
    font-size: 35px;
    color: white; 
    font-weight: 900;
}
